# # Django == 4.0.4
# Django==3.2.13
# django-rest-framework
# Jinja2
# authlib ~= 1.0
# django ~= 4.0
# python-dotenv ~= 0.19
# requests ~= 2.27
# # social-auth-app-django~=3.1
# social-auth-app-django==4.0.0
# # rest_framework
# auth0-login
# django-auth0==0.0.3

# Django == 4.0.4
# django==3.2.5
# djangorestframework==3.12.4
# Jinja2
# authlib 
# social-auth-app-django~=3.1
# rest_framework
# auth0-login
# social-auth-app-django~=4.0.0
# python-jose~=3.0
# python-dotenv~=0.9


authlib ~= 1.0
django ~= 4.0
python-dotenv ~= 0.19
requests ~= 2.27