.card_body {
    margin-top:10px;
    border : 1px solid #ccc;
    width : 50%;
    height : 50%;
    padding : 10px;
}
.body_padre{
    display : flex;
    justify-content : center;
    align-items : center;
}
.input_email{
    width : 98.8%;
}

.btn_send_email{
    margin-top :10px;
    width : 30%;
}