<!-- <div class="topnav">
    <a href="/dashboard">Dashboard</a>
    <a href="/sendemailV">Emails</a>
    <a href="{% url 'logout' %}"class="split">Exit</a>
</div> -->


<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://i.pinimg.com/originals/bb/57/79/bb5779f8dea356d8d008979c12522845.jpg" alt="" width="35" height="35" class="d-inline-block align-text-top">
      </a>
      <a href="{% url 'logout' %}"class="btn btn-danger split">Exit</a>

    </div>
  </nav>